

/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.anchor {
    -fx-background-image: url('./loginbg.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%
        
}



.buttonLogin {
   
    
    
    -fx-background-color: #03A3D3;
    -fx-font-weight: bold;
    -fx-text-fill: white
}


.text-field {
    -fx-border-color: #ddd6d6;
    -fx-border-color: white
}
