

/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.anchor {
    -fx-background-image: url('./bg3.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%
        
}

.label:hover{
    -fx-font-size:38;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill:
        linear(0%,0%) to (0%,100%)
      //  stops(0.0, red) (1.0, black)
}


.text-field {
    -fx-border-color: #ddd6d6;
    -fx-border-color: white
}

