/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
   
}

.anchor {
    -fx-background-image: url('./bg-anchor1.jpg');
   // -fx-background-repeat: no-repeat;
    -fx-background-size: contain
}

.text-field {
    -fx-border-color: #ddd6d6
}

.text-field {
    -fx-border-color: white
}
