/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.text-area .content{
    -fx-background-color: whitesmoke;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
}


.buttonEffect {
     -fx-background-color: 
        #666666;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: #E5E5E5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
}

.buttonEffect:hover{
    -fx-background-color: #03A3D3;
}

.buttonEffect:pressed{
    -fx-background-color: #03A3D3;
}
