/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.anchor {
    -fx-background-image: url('./quizbg.png');
    -fx-background-size: 100% 100%
}

.buttonLogin {
   
    
    
    -fx-background-color: #03A3D3;
    -fx-font-weight: bold;
    -fx-text-fill: white
}

.buttonLogin:disabled {
    -fx-background-color: grey
}

.text-areaNew {
    -fx-text-fill: black;
}